<nav class="navbar navbar-expand-lg navbar-mainbg navbar-fixed-left">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <div class="hori-selector">
        <div class="left"></div>
        <div class="right"></div>
      </div>
      <div class="column">
        <li class="nav-item active">
            <a ><i class="fas fa-tachometer-alt"></i>Dashboard</a>
        </li>
        <li class="nav-item">
            <a  ><i class="far fa-address-book"></i>Address Book</a>
        </li>
        <li class="nav-item">
            <a><i class="far fa-clone"></i>Components</a>
        </li>
        <li class="nav-item">
            <a><i class="far fa-calendar-alt"></i>Calendar</a>
        </li>
        <li class="nav-item">
            <a><i class="far fa-calendar-alt"></i>Calendar</a>
        </li>
        <li class="nav-item">
            <a><i class="far fa-calendar-alt"></i>ออกจากระบบ</a>
        </li>
      </div>

    </ul>
  </div>
</nav>
