<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>


<nav class="navbar navbar-expand-lg navbar-mainbg navbar-fixed-left"> 
  <div class="row">
    <div class="col-2"></div>
  <div class="col-10">
  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav ml-auto">
      
      <div class="column">
        <img src="assets/img/usertest.png">
        <br>
        <li class="nav-name">
          <p>คุณ XXXXX XXXXXX</p>
        </li>
        <li class="nav-cotton">
          <p>ฝ่ายบริหารงานทั่วไป</p>
        </li><br>
        <div class="line-nav-bar"></div>
        <br>
        

        <li class="nav-item">
          <div>
            <a href="#/homemanagement" class="select-button"><i class="fa fa-home"></i> หน้าหลัก </a>
          </div>
        </li>
        <li class="nav-item">
          <div >
            <a href="#/managementmenu001" class="select-button"><i class="fa fa-search"></i> ค้นหาเอกสาร</a>
          </div>
        </li>
        <li class="nav-item">
          <div >
            <a href="#/managementmenu002" class="select-button"><i class="fa fa-newspaper-o"></i> ประกาศข่าว</a>
          </div>
        </li>
        <li class="nav-item">
          <div>
            <a href="#/managementmenu003" class="select-button"> <i class="fa fa-list-alt"></i> สรุปการดำเนินงาน </a>
          </div>
        </li>
        <li class="nav-item">
          <div >
            <a href="#/managementmenu004" class="select-button"><i class="fa fa-user"></i> จัดการผู้ใช้ </a>
            </div>
        </li>
        <li class="nav-item">
          <div >
            <a href="#/login/" class="select-button" > <i class="fa fa-sign-out"></i> ออกจากระบบ </a>
            
          </div>
        </li>
        <!-- <img src="assets/img/image2.png" class="root"> -->
      </div>
    </ul>
  </div>
</div>
</div>
</nav>

