@import '~bootstrap/dist/css/bootstrap.min.css';
@font-face {
    font-family: "K2D";
    src: local("K2D"), url(../../../assets/Font/K2D-Bold.ttf) format("truetype");
}

.navbar-mainbg{
	background-color:#1C3FAB;
	padding: 0vw;
}

.navbar-fixed-left {
    width: 18%;
    position: fixed;
    border-radius: 100px;
	height: 100%;
}

#navbarSupportedContent ul li a{
	color: #F8F8F8;
    text-decoration: none;
    font-size: 1vw;
    display: block;
    padding: 1vw 0.5vw;
	position: relative;
	font-family: "K2D";

}

img {
	display: block;
	border-radius: 50%;
	width: 50%;
	margin-left: 10%;
  	margin-right: 50%;
  }

.nav-name{
	color: #F8F8F8;
	text-decoration: none;
	font-size: 1vw;
	padding: 1vw 0.5vw;
	font-family: "K2D";
}

.nav-cotton {
	color: #F8F8F8;
	text-decoration: none;
	font-size: 1vw;
	padding: 0.1vw 0.5vw;
	font-family: "K2D";
}

.line-nav-bar {
	position: absolute;
	background-color: #F8F8F8;
	min-width: 60%;
	min-height: 0.1%;
}