<div class="bg">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <div class="menu-box">
    <div class="column">
      <div class="row">
        <div class="text-header-menu">HOME</div>
        <div class="search-document-number">
          <input
            class="text-search-document-number"
            style="border: none; outline: none; width: 80%; height: 80%"
            placeholder="หมายเลขเอกสาร..."
          />
          <i
            class="fa fa-search"
            style="
              position: absolute;
              font-size: 24px;
              color: #707070;
              top: 10%;
              right: 5%;
            "
          ></i>
        </div>
        <i class="bell fa fa-bell"></i>
      </div>
      <div class="line-header-menu"></div>
      <div class="line-side"></div>
    </div>
    <div class="text1">เรื่องที่ต้องการติดต่อ</div>
    <i
      class="fa fa-list-ul"
      style="
        position: absolute;
        font-size: 25px;
        color: #c55b11;
        top: 16%;
        left: 15%;
      "
    ></i>

      <button class="LOW1" style="height: 3%; width: 18%">
        <div class="text2">มาตรวัดและอุปกรณ์ทดสอบ</div>
        <i
          class="fa fa-dashboard"
          style="
            position: absolute;
            font-size: 45px;
            color: #15844d;
            top: 16%;
            left: 5%;
          "
        ></i>
          <!-- <button class = "BTU1" >ติดตั้ง </button>
          <button class = "BTU2"  >ตรวจสอบ </button> -->
      </button>

    



    <button class="LOW2" style="height: 3%; width: 18%">
      <div class="text3">เครื่องชั่งน้ำหนักน้ำมัน และผลิตภัณฑ์น้ำมัน</div>
      <i
        class="fa fa-balance-scale"
        style="
          position: absolute;
          font-size: 45px;
          color: #8f3681;
          top: 23%;
          left: 5%;
        "
      ></i>
    </button>
    <button class="LOW3" style="height: 3%; width: 10%">
      <div class="text4">ตรวจสอบภาชนะบรรจุ</div>
      <i
        class="fa fa-cube"
        style="
          position: absolute;
          font-size: 45px;
          color: #dc8228;
          top: 23%;
          left: 5%;
        "
      ></i>
    </button>
    <div class="LOW4" style="height: 3%; width: 10%">
      <div class="text5">ท่อรับ-ส่งน้ำมัน และผลิตภัณฑ์น้ำมัน</div>
      <i
        class="fa fa-tint"
        style="
          position: absolute;
          font-size: 45px;
          color: #b82c00;
          top: 27%;
          left: 8%;
        "
      ></i>
    </div>
    <div class="LOW5" style="height: 3%; width: 18%">
      <div class="text6">เครื่องวัดระดับและอุณหภูมิชนิดอัตโนมัติ</div>
      <i
        class="fa fa-thermometer-three-quarters"
        style="
          position: absolute;
          font-size: 45px;
          color: #1e31ae;
          top: 27%;
          left: 8%;
        "
      ></i>
    </div>
    <div class="LOW6" style="height: 3%; width: 18%">
      <div class="text7">เรือบรรทุกน้ำมันและผลิตภัณฑ์น้ำมัน</div>
      <i
        class="fa fa-ship"
        style="
          position: absolute;
          font-size: 45px;
          color: #ddc346;
          top: 23%;
          left: 4%;
        "
      ></i>
    </div>
  </div>
</div>

<!-- <div class="col-3">
      <div class="card shadow-lg bg-white rounded" id="LOW">
        <div class="text"><i class = "fa fa-dashboard"></i>
          Home
          <div class="text1">เรื่องที่ต้องการติดต่อ</div>
          <div class="LOW1" style="height: 10px; width: 150px">
            มาตรวัดและอุปกรณ์ทดสอบ
          </div>
          <div class="LOW2" style="height: 10px; width: 150px">
            เครื่องชั่งน้ำหนักน้ำมันและผลิตภัณฑ์น้ำมัน
            <i class="fa-fa-close"></i>
          </div>
          <div class="LOW3" style="height: 10px; width: 150px">
            ตรวจสอบภาชนะบรรจุ
          </div>
          <div class="LOW4" style="height: 10px; width: 150px">
            ท่อรับ-ส่งน้ำมันและผลิตภัณฑ์น้ำมัน
          </div>
          <div class="LOW5" style="height: 10px; width: 150px">
            เครื่องวัดระดับและอุณหภูมิชนิดอัตโนมัติ
          </div>
          <div class="LOW6" style="height: 10px; width: 150px">
            เรือบรรทุกน้ำมันและผลิตภัณฑ์น้ำมัน
          </div>
        </div>
      </div>
    </div>
  </div> -->
