<div class="bg">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <app-menubar-user></app-menubar-user>
  <div class="menu-box">
    <div class="column">
      <div class="row">
        <div class="text-header-menu">HOME</div>
        <div class="search-document-number">
          <input
            class="text-search-document-number"
            style="border: none; outline: none; width: 80%; height: 80%"
            placeholder="หมายเลขเอกสาร..."
          />
          <i
            class="fa fa-search"
            style="
              position: absolute;
              font-size: 1.5vw;
              color: #707070;
              top: 9%;
              right: 5%;
            "
          ></i>
        </div>
        <i class="bell fa fa-bell"></i>
      </div>
      <div class="line-header-menu"></div>
      <div class="line-side"></div>
    </div>
    <div
      class="text1"
      style="
        position: absolute;
        height: 20%;
        width: 50%;
        left: 18%;
        top: 15%;
        font-size: 1.7vw;
        font-family: K2D;
      "
    >
      เรื่องที่ต้องการติดต่อ
    </div>
    <i
      class="fa fa-list-ul"
      style="
        position: absolute;
        font-size: 1.8vw;
        color: #c55b11;
        top: 16%;
        left: 15%;
      "
    ></i>

    <div type="card" class="LOW1">
      <div
        class="text2"
        style="
          position: absolute;
          height: 20%;
          width: 60%;
          left: 27%;
          top: 25%;
          font-size: 1vw;
          font-family: K2D;
        "
      >
        มาตรวัดและอุปกรณ์ทดสอบ
      </div>
      <!-- <button
        href="#"
        class="BTU1"
        style="
          position: absolute;
          border-radius: 20px !important;
          height: 30px;
          width: 100px;
          left: 85px;
          top: 10%;
        "
      >
        ติดตั้ง
      </button>
      <button
        href="#"
        class="BTU2"
        style="
          position: absolute;
          border-radius: 20px !important;
          height: 30px;
          width: 100px;
          left: 85px;
          top: 50%;
        "
      >
        ตรวจสอบ
      </button> -->
      <i
        class="fa fa-dashboard"
        style="
          position: absolute;
          font-size: 2.5vw;
          color: #15844d;
          top: 26%;
          left: 4%;
        "
      ></i>
      
    </div>

    <div class="LOW2">
      <div
        class="text3"
        style="
          position: absolute;
          height: 20%;
          width: 60%;
          left: 28%;
          top: 25%;
          font-size: 1vw;
          font-family: K2D;
        "
      >
        เครื่องชั่งน้ำหนักน้ำมัน และผลิตภัณฑ์น้ำมัน
      </div>
      <i
        class="fa fa-balance-scale"
        style="
          position: absolute;
          font-size: 2.5vw;
          color: #8f3681;
          top: 23%;
          left: 4%;
        "
      ></i>
    </div>
    <div class="LOW3">
      <div
        class="text4"
        style="
          position: absolute;
          height: 20%;
          width: 70%;
          left: 30%;
          top: 23%;
          font-size: 1vw;
          font-family: K2D;
        "
      >
        ตรวจสอบภาชนะบรรจุ
      </div>
      <i
        class="fa fa-cube"
        style="
          position: absolute;
          font-size: 2.5vw;
          color: #dc8228;
          top: 25%;
          left: 4%;
        "
      ></i>
    </div>
    <div class="LOW4">
      <div
        class="text5"
        style="
          position: absolute;
          height: 20%;
          width: 70%;
          left: 28%;
          top: 25%;
          font-size: 1vw;
          font-family: K2D;
        "
      >
        ท่อรับ-ส่งน้ำมัน และผลิตภัณฑ์น้ำมัน
      </div>
      <i
        class="fa fa-tint"
        style="
          position: absolute;
          font-size: 2.5vw;
          color: #b82c00;
          top: 27%;
          left: 6%;
        "
      ></i>
    </div>
    <div class="LOW5">
      <div
        class="text6"
        style="
          position: absolute;
          height: 20%;
          width: 70%;
          left: 28%;
          top: 25%;
          font-size: 1vw;
          font-family: K2D;
        "
      >
        เครื่องวัดระดับและอุณหภูมิชนิดอัตโนมัติ
      </div>
      <i
        class="fa fa-thermometer-three-quarters"
        style="
          position: absolute;
          font-size: 2.5vw;
          color: #1e31ae;
          top: 27%;
          left: 10%;
        "
      ></i>
    </div>
    <div class="LOW6">
      <div
        class="text7"
        style="
          position: absolute;
          height: 20%;
          width: 70%;
          left: 30%;
          top: 25%;
          font-size: 1vw;
          font-family: K2D;
        "
      >
        เรือบรรทุกน้ำมันและผลิตภัณฑ์น้ำมัน
      </div>
      <i
        class="fa fa-ship"
        style="
          position: absolute;
          font-size: 2.5vw;
          color: #ddc346;
          top: 23%;
          left: 4%;
        "
      ></i>
    </div>
  </div>
</div>