@font-face {
  font-family: "K2D";
  src: local("K2D"), url(../../../../assets/Font/K2D-Bold.ttf) format("truetype");
}

body {
  margin: 0;
  color: #edf3ff;
  background: #b12828;
  background-size: auto;
}

.bg {
  background-color: #1c3faa;


  background-size: auto;
  position: absolute;
  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;
}

.bell {
  width: 30px;
  height: 30px;
  font-size: 2vw;
  color: #474646;
  position: absolute;
  top: 3%;
  left: 96.5%;
}

.menu-box {
  background-color: #f1f5f8;
  background-size: auto;
  position: absolute;
  border-radius: 25px;
  top: 2.5%;
  left: 7.5%;
 
  min-width: 90%;
  min-height: 95%;
}

.text-header-menu {
  position: absolute;
  font-size: 1.6vw;
  top: 5%;
  left: 15%;
  color: #707070;
}

.line-header-menu {
  position: absolute;
  background-color: #948f8f;
  top: 10%;
  left: 15%;
  min-width: 84.5%;
  min-height: 0.1%;
}

.search-document-number {
  position: absolute;
  border-radius: 25px;
  background-color: white;
  top: 2.5%;
  left: 80%;
  min-width: 15%;
  min-height: 4%;
  border-style: solid;
  border-width: 0.1px;
}

.text-search-document-number {
  position: absolute;
  color: #707070;
  font-size: 20px;
  top: 10%;
  left: 5%;
}

.LOW1 {
  position: absolute;
  border-radius: 10px !important;
  border: #707070;
<<<<<<< HEAD
=======
  background-color: white !important;
>>>>>>> 42bb688b1460ea449e4b9c72f08f9f2df73367a5
  height: 3%;
  width: 18%;
  left: 14%;  
  top: 26%;
  background: white;
  margin-bottom: 30px;
  padding: 3% 9%;
  box-shadow: 1px 1px 1px 1px rgba(36, 35, 35, 0.4);
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.LOW1:hover {
  background-color:#C55B11;
  cursor: pointer;
}
.LOW2 {
  position: absolute;
  border-radius: 10px !important;
  border: #707070;
  background-color: white !important;
  height: 3%;
  width: 18%;
  left: 14%;
  top: 50%;
  margin-bottom: 30px;
  padding: 3% 9%;
  box-shadow: 1px 1px 1px 1px rgba(36, 35, 35, 0.4);
}
.LOW3 {
  position: absolute;
  border-radius: 10px !important;
  border: #707070;
  background-color: white !important;
  height: 3%;
  width: 12%;
  left: 36%;
  top: 26%;
  margin-bottom: 30px;
  padding: 3% 7.5%;
  box-shadow: 1px 1px 1px 1px rgba(36, 35, 35, 0.4);
}

.LOW4 {
  position: absolute;
  border-radius: 10px !important;
  border: #707070;
  background-color: white !important;
  height: 3%;
  width: 12%;
  left: 36%;
  top: 50%;
  margin-bottom: 30px;
  padding: 3% 7.5%;
  box-shadow: 1px 1px 1px 1px rgba(36, 35, 35, 0.4);
}
.LOW5 {
  position: absolute;
  border-radius: 10px !important;
  border: #707070;
  background-color: white !important;
  height: 3%;
  width: 18%;
  right: 27%;
  top: 26%;
  margin-bottom: 30px;
  padding: 3% 9%;
  box-shadow: 1px 1px 1px 1px rgba(36, 35, 35, 0.4);
}
.LOW6 {
  position: absolute;
  border-radius: 10px !important;
  border: #707070;
  background-color: white !important;
  height: 3%;
  width: 18%;
  right: 27%;
  top: 50%;
  margin-bottom: 30px;
  padding: 3% 9%;
  box-shadow: 1px 1px 1px 1px rgba(36, 35, 35, 0.4);
}

.line-side {
  position: absolute;
  background-color: #948F8F;
  top: 10%;
  left: 75%;
  min-width: .01%;
  min-height: 84.5%;
}







