<div class="bg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <app-menubar-management></app-menubar-management>
    <div class="menu-box">
        <div class="text-header-menu">HOME > รายการงาน</div>
        <div class="line-header-menu"></div>
        <i class="bell fa fa-bell"></i>
        <div class="search-document-number">
            <input class="text-search-document-number" style="border: none; outline: none;width: 80%;height: 80%;"
                placeholder="หมายเลขเอกสาร..." />
            <i class="fa fa-search" style="
                position: absolute;
                font-size: 24px;
                color: #707070;
                top: 10%;
                right: 5%;
              "></i>
        </div>
        <div class="text">เรื่อง</div>
        <div class="text1">สถานะ</div>
        <div class="text2">จัดการ</div>
        <div class="box1"></div>
        <div class="textbox1"> ขออนุญาตติดตั้งมาตรวัดน้ำมันและผลิตภัณน้ำมัน</div>
        <div class="text-status1">หนังสือรับเข้า<button mat-raised-button (click)="openDialog()">เปิด</button></div>
        <div class="box2"></div>
        <div class="textbox2">ขออนุญาตติดตั้งมาตรวัดน้ำมันและผลิตภัณน้ำมัน</div>
        <div class="text-status2">หนังสือรับเข้า</div>
        <div class="box3"></div>
        <div class="textbox3">ขออนุญาตติดตั้งมาตรวัดน้ำมันและผลิตภัณน้ำมัน</div>
        <div class="text-status3">หนังสือรับเข้า</div>
        <div class="box4"></div>
        <div class="textbox4">ขออนุญาตติดตั้งมาตรวัดน้ำมันและผลิตภัณน้ำมัน</div>
        <div class="text-status4">ส่งหนังสือออก</div>
        <div class="box5"></div>
        <div class="textbox5">ขออนุญาตติดตั้งมาตรวัดน้ำมันและผลิตภัณน้ำมัน</div>
        <div class="text-status5">ส่งหนังสือออก</div>
        <div class="box6"></div>
        <div class="textbox6">ขออนุญาตติดตั้งมาตรวัดน้ำมันและผลิตภัณน้ำมัน</div>
        <div class="text-status6">ส่งหนังสือออก</div>
    </div>
</div>
<div [hidden]="show">
    <div class="body-gray">
    <div class="card"><div (click)="openDialog()" style="left: 100%;"><i class="fa fa-times-circle-o" style="color: red;"
                aria-hidden="true"></i></div></div>
</div>
</div>