@import '~bootstrap/dist/css/bootstrap.min.css';
@font-face {
    font-family: "K2D";
    src: local("K2D"), url(../../../../assets/Font/K2D-Bold.ttf) format("truetype");
}

.bg {
    background-color: #1C3FAA;
    background-size: auto;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}
.body-gray{
    background-size: auto;
    position: absolute;
    background-color:#00000000;
    min-width: 100%;
    min-height: 100%;
    z-index: 500;
}
.menu-box {
    background-color:#F1F5F8;
    background-size: auto;
    position: absolute;
    border-radius: 25px;
    top: 2.5%;
    left: 7.5%;
    min-width: 90%;
    min-height: 95%;
}
.text-header-menu {
    position: absolute;
    font-size: 25px;
    top: 5%;
    left: 15%;
    color: #707070;
}

.line-header-menu {
    position: absolute;
    background-color: #948F8F;
    top: 10%;
    left: 15%;
    min-width: 84.5%;
    min-height: 0.1%;
}
.card {
    background-color:white;
    position: absolute;
    border-radius: 25px;
    width: 1100px;
    height: 680px;
    left: 15%;
    top: 2.5%;
}
.close{
    position: absolute;
    right: 2%;
    top: 1%;
}
.search-document-number {
    position: absolute;
    border-radius: 25px;
    background-color: white;
    top: 2.5%;
    left: 80%;
    min-width: 15%;
    min-height: 4%;
    border-style: solid;
    border-width: 0.1px;
}
.text-search-document-number{
    position: absolute;
    color: #707070;
    border-radius: 25px;
}
.text{
    position: absolute;
    top: 14%;
    left: 22%;   
    color: #707070;
    font-size: 1.5vw;
    font-family: "K2D";
}
.bell{
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #474646;
    position: absolute;
    top: 3%;
    left: 96.5%;
  }
.box{
    position: absolute;
    border-radius: 30px !important;
    background-color :white !important;
    right: 25%;
    top : 20%;
    min-width: 55%;
    min-height: 7%;
}
.textbox{
    right: 23%;
    top : 21.5%;
    min-width: 55%;
    min-height: 7%;
    position: absolute;
    font-family: "K2D";
    font-size: 1vw;
    color: #707070;
}
.text-status{
    position: absolute;
    left: 54%;
    top : 21.5%;
    font-size: 1vw;
    font-family: "K2D";
}
.text-card{
    position: absolute;
    font-family: "K2D";
    font-size: 1vw;
}


