<div class="bg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <app-menubar-management></app-menubar-management>
    <div class="menu-box">

        <div class="text-header-menu">HOME > รายการงาน</div>
        <div class="line-header-menu"></div>
        <i class="bell fa fa-bell"></i>
        <div class="search-document-number">
            <input class="text-search-document-number" style="border: none; outline: none;width: 80%;height: 80%;"
                placeholder="หมายเลขเอกสาร..." />
            <i class="fa fa-search" style="
                position: absolute;
                font-size: 24px;
                color: #707070;
                top: 10%;
                right: 5%;
              "></i>
        </div>
        <div class="text">เรื่อง</div>
        <div class="text"style="top: 14%;left: 55%;">สถานะ</div>
        <div class="text"style="top: 14%;left: 65%;">จัดการ</div>
        <div class="box"></div>
        <div class="textbox"> ขออนุญาตติดตั้งมาตรวัดน้ำมันและผลิตภัณน้ำมัน</div>
        <div class="text-status">หนังสือรับเข้า<button mat-raised-button (click)="openDialog()">เปิด</button></div>
        <div class="box" style="right: 25%;top : 33%;min-width: 55%;min-height: 7%;"></div>
        <div class="textbox" style="right: 23%;top : 34.5%;">ขออนุญาตติดตั้งมาตรวัดน้ำมันและผลิตภัณน้ำมัน</div>
        <div class="text-status" style="left: 54%;top : 34.5%;">หนังสือรับเข้า</div>
        <div class="box" style="right: 25%;top : 46%;min-width: 55%;min-height: 7%;"></div>
        <div class="textbox" style="right: 23%;top : 47.5%;">ขออนุญาตติดตั้งมาตรวัดน้ำมันและผลิตภัณน้ำมัน</div>
        <div class="text-status" style="left: 54%;top : 47.5%;">หนังสือรับเข้า</div>
        <div class="box" style="right: 25%;top : 59%;min-width: 55%;min-height: 7%;"></div>
        <div class="textbox" style="right: 23%;top : 60.5%;">ขออนุญาตติดตั้งมาตรวัดน้ำมันและผลิตภัณน้ำมัน</div>
        <div class="text-status" style="left: 54%;top : 60.5%;">ส่งหนังสือออก</div>
        <div class="box" style="right: 25%;top : 72%;min-width: 55%;min-height: 7%;"></div>
        <div class="textbox" style="right: 23%;top : 73.5%;">ขออนุญาตติดตั้งมาตรวัดน้ำมันและผลิตภัณน้ำมัน</div>
        <div class="text-status" style="left: 54%;top : 73.5%;">ส่งหนังสือออก</div>
        <div class="box" style="right: 25%;top : 85%;min-width: 55%;min-height: 7%;"></div>
        <div class="textbox" style="right: 23%;top : 86.5%;">ขออนุญาตติดตั้งมาตรวัดน้ำมันและผลิตภัณน้ำมัน</div>
        <div class="text-status"style="left: 54%;top : 86.5%;">ส่งหนังสือออก</div>
    </div>
</div>
<div [hidden]="show">
    <div class="body-gray">
        <div class="card">
            <img class="imgtest" style="width: 30vw;height: 40vw;margin-left: 5%;margin-top: 3%;"
                src="assets/img/test.png" alt="img">
            <label class="text-card" style="margin-top: 10.5%;margin-left:50%;">สารบัญเลขรับของกรม</label>
            <input class="text-card" style="margin-top: 10%;margin-left:65%;" placeholder="" />
            <label class="text-card" style="margin-top: 15.5%;margin-left:50%;">สารบัญเลขรับของกลุ่ม</label>
            <input class="text-card" style="margin-top: 15%;margin-left:65%;" placeholder="" />
            <div class="close" (click)="openDialog()"><i class="fa fa-times-circle-o" style="color: red;"
                    aria-hidden="true"></i></div>
        </div>
    </div>
</div>