<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<nav class="navbar navbar-expand-lg navbar-mainbg navbar-fixed-left"> 
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav ml-auto">
      <div class="col-sm-2"></div>
      <div class="column">
        
        <img src="assets/img/usertest.png" alt="Avatar">
        <br>
        <li class="nav-name">
          <p>คุณ XXXXX XXXXXX</p>
        </li>
        <li class="nav-cotton">
          <p>ฝ่ายบริหารงานทั่วไป</p>
        </li><br>
        <div class="line-nav-bar"></div>
        <br>
        
        <li class="nav-item">
          <div>
           <a href="#/usermenu001"  class="select-button"><i class="fa fa-home"></i> หน้าหลัก </a> 
          </div>
        </li>
        <li class="nav-item">
          <div>
             <a href="#/usermenu002"  class="select-button"><i></i> ติดตามสถานะการ </a> 
          </div>
        </li>
        <li class="nav-item">
          <div>
            <a  class="select-button"><i></i>ประวัติการทำรายการ</a> 
          <div class="select-button">
            <i class="fa fa-dot-circle-o" aria-hidden="true"></i>ติดตามสถานะการ
          </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="select-button">
            <i class="fa fa-history" aria-hidden="true"></i>ประวัติการทำรายการ
          </div>
        </li>
        <br><br><br><br><br>
        <li class="nav-item">
          <div >
            <a  class="select-button" href="#/login"><i class="fa fa-sign-out"></i> ออกจากระบบ</a>
          </div>
        </li>
        <!-- <img src="assets/img/image2.png" class="root"> -->
      </div>
    </ul>
  </div>
</nav>

