<div class="bg">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <app-menubar-management></app-menubar-management>
  <div class="menu-box">
    <div class="column">
      <div class="row">
        <div class="text-header-menu">HOME > ประกาศข่าวสาร</div>
        <div class="search-document-number">
          <input
            class="text-search-document-number"
            style="border: none; outline: none;width: 80%;height: 80%;"
            placeholder="หมายเลขเอกสาร..."
          />
          <i
            class="fa fa-search"
            style="
              position: absolute;
              font-size: 24px;
              color: #707070;
              top: 10%;
              right: 5%;
            "
          ></i>
        </div>
        <i class="bell fa fa-bell"></i>
      </div>
      <div class="line-header-menu"></div>
      <div class="text-header-menu-underline">ประกาศข่าวสาร</div>
      <input class="search-header-news" type="text" placeholder="หัวข้อข่าว" />
      <div
        style="
          background-color: #f1f5f8;
          position: absolute;
          box-shadow: 0 30px 50px rgba(0,0,0,.2);
          left: 17%;
          top: 25%;
          min-width: 50%;
          min-height: 72%;
          z-index: 1;
        "
      >
        <div
          style="
            background-color: white;
            position: absolute;
            left: 0%;
            top: 0%;
            min-width: 20%;
            min-height: 10%;
            box-shadow: 0 30px 50px rgba(0,0,0,.2);
            z-index: -1;
          "
        ></div>
        <div
          style="
            font-size: 1.2vw;
            color: white;
            -webkit-text-stroke: 1px black;
            position: absolute;
            left: 2%;
            top: 2%;
          "
        >
          <i
            class="fa fa-file-text-o"
            style="
              font-size: 2vw;
              color: #1c3faa;
              position: relative;
              left: 2%;
              top: 2%;
            "
          ></i>
          เนื้อหาข่าว
        </div>
        <div
          style="
            background-color: white;
            position: absolute;
            min-width: 100%;
            min-height: 90%;
            left: 0%;
            top: 10%;
            box-shadow: 0 30px 50px rgba(0,0,0,.2);
          "
        >
          <div
            style="
              background-color: white;
              position: absolute;
              left: 5%;
              top: 5%;
              min-width: 90%;
              min-height: 45%;
              border-style: solid;
              border-width: 0.1px;
              border-radius: 15px;
              border-color: #707070;
            "
          >
            <div style="font-size: 25px; position: absolute; left: 5%; top: 5%;font-family: 'K2D' ;font-size: 1.3vw;">
              ส่วนเนื้อหา
            </div>
            <div
              style="
                position: absolute;
                left: 5%;
                top: 20%;
                min-width: 90%;
                min-height: 1%;
                background-color: #a7a4a4;
              "
            ></div>
            <img src="assets/img/editor.png" style="height: 60%;width: 35vw;left: 8%; top: 30%;margin-bottom: 10%;">
          </div>
          <div
            style="
              background-color: white;
              position: absolute;
              left: 5%;
              top: 54%;
              min-width: 90%;
              min-height: 35%;
              border-style: solid;
              border-width: 0.1px;
              border-radius: 15px;
              border-color: #707070;
            "
          >
            <div style="font-size: 25px; position: absolute; left: 5%; top: 5%;font-family: 'K2D' ;font-size: 1.3vw;">
              ส่วนรูปภาพ
            </div>
            <div
              style="
                position: absolute;
                left: 5%;
                top: 25%;
                min-width: 90%;
                min-height: 1%;
                background-color: #a7a4a4;
              "
            ></div>
            <div style="border-style: dashed;position: absolute; left: 5%; top: 30%;min-width: 90%;min-height: 63%;border-color: #a7a4a4;border-width: 1px;">
              <div class="row">
                <div class="card-img"><i class="fa fa-times-circle" aria-hidden="true" ></i>
                  <img src="assets/img/usertest.png">
                </div>
                <div class="card-img"><i class="fa fa-times-circle" aria-hidden="true" ></i>
                  <img src="assets/img/usertest.png">
                </div>
                <div class="card-img"><i class="fa fa-times-circle" aria-hidden="true"></i>
                  <img src="assets/img/usertest.png">
                </div>
                <div class="card-img"><i class="fa fa-times-circle" aria-hidden="true" ></i>
                  <img src="assets/img/usertest.png">
                </div>
              </div>
              
              <i class="fa fa-picture-o" aria-hidden="true" style="bottom:5%;left: 3%;position: absolute;">  Upload a file or drag and drop</i>
            </div>
          </div>
        </div>
        <button
          style="
            background-color: #126523;
            position: absolute;
            left: 80%;
            top: 92%;
            min-width: 15%;
            min-height: 7%;
            border-radius: 25px;
            color: white;
            font-size: 1vw;
            font-family: 'K2D'
          "
        >
          บันทึก
        </button>
      </div>
    </div>

    <div class="column" >
      <div style="position: relative;margin-top: 10%;">
      <div class="news-box">
        <img src="assets/img/usertest.png" class="img-news">
        <p class="header-news">การประชุมแนวทางการปฏิรูปโครงสร้างภาษีรถยนต์เพื่อรองรับเทคโนโลยีในอนาคต</p>
        <p class="text-news">นายลวรณ แสงสนิท อธิบดีกรมสรรพสามิต เป็นประธานในการประชุมแนวทางการปฏิรูปโครงสร้างภาษีรถยนต์เพื่อรองรับเทคโนโลยีในอนาคต โดยมีผู้บริหาร ข้าราชการ เจ้าหน้าที่กรมสรรพสามิต </p>
        <p class="text-date-news">06 ธันวาคม 2563</p>
      </div>
      <div class="news-box"></div>
      <div class="news-box"></div>
      <div class="news-box"></div>
      </div>
      
    </div>

  </div>
</div>
