@font-face {
    font-family: "K2D";
    src: local("K2D"), url(../../../../assets/Font/K2D-Bold.ttf) format("truetype");
}

body {
    margin: 0;
    color: #edf3ff;
    background: #b12828;
    background-size: auto;
}

.bg {
    background-color: #1C3FAA;
    /* background-color: #fff; */

    background-size: auto;
    position: absolute;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.bell{
    width: 30px;
    height: 30px;
    font-size: 2vw;
    color: #474646;
    position: absolute;
    top: 3%;
    left: 96.5%;
  }

.menu-box {
    background-color:#F1F5F8;
    background-size: auto;
    position: absolute;
    border-radius: 25px;
    top: 2.5%;
    left: 7.5%;
    /* Preserve aspet ratio */
    min-width: 90%;
    min-height: 95%;
}

.text-header-menu {
    position: absolute;
    font-size: 1.5vw;
    top: 5%;
    left: 15%;
    color: #707070;
    font-family: "K2D";
}

.line-header-menu {
    position: absolute;
    background-color: #948F8F;
    top: 10%;
    left: 15%;
    min-width: 84.5%;
    min-height: 0.1%;
}

.search-document-number {
    position: absolute;
    border-radius: 25px;
    background-color: white;
    top: 3%;
    left: 80%;
    min-width: 15%;
    min-height: 4%;
    border-style: solid; 
    border-width: 0.1px;
}
    

.text-search-document-number{
    position: absolute;
    color: #707070;
    font-size: 1vw;
    top: 8%; 
    left: 5%;
    font-family: "K2D";
}

.text-header-menu-underline{
    position: absolute;
    color: #707070;
    font-size: 1.7vw;
    top: 12%; 
    left: 17%;
    font-family: "K2D";
}

.search-header-news {
    position: absolute;
    border-radius: 5px;
    top: 18%; 
    left: 17%;
    min-width: 50%;
    min-height: 5%;
    font-size: 1vw;
    border-style: solid;
    border-width: 0.1px;
    font-family: 'K2D';
}