<div class="bg">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
  <div class="menu-box">
    <div class="column">
      <div class="row">
        <div class="text-header-menu">HOME > ค้นหาเอกสาร</div>
        <div class="search-document-number">
          <input
            class="text-search-document-number"
            style="border: none; outline: none"
            placeholder="หมายเลขเอกสาร..."
          />
          <i
            class="fa fa-search"
            style="
              position: absolute;
              font-size: 24px;
              color: #707070;
              top: 10%;
              right: 5%;
            "
          ></i>
        </div>
        <i class="bell fa fa-bell"></i>
      </div>
      <div class="line-header-menu"></div>
    </div>
  </div>
</div>
