<div class="container-lg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <div class="bg">
        <app-menubar-user></app-menubar-user>
        <div class="menu-box">
            <div class="column">
                <div class="row">
                    <div class="text-header-menu">Home > มาตรวัดและอุปกรณ์ทดสอบ</div>
                    <div class="search-document-number">
                        <input class="text-search-document-number"
                            style="border: none; outline: none;width: 80%;height: 80%;"
                            placeholder="หมายเลขเอกสาร..." />
                        <i class="fa fa-search" style="
                    position: absolute;
                    font-size: 1.5vw;
                    color: #707070;
                    top: 10%;
                    right: 5%;
                  "></i>
                    </div>
                    <i class="bell fa fa-bell"></i>
                </div>
                <div class="line-header-menu"></div>
                <div class="line-side"></div>
                <div class="col-12">
                    <div class="row">
                        <div style="margin-left: 66.0%;">
                            <button type="button" class="bt2"
                                style="background-color: #707070;">
                                <p>ติดตามสถานะ</p>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div style="margin-left: 58.1%;">
                            <button type="button" class="bt2"
                                style="background-color: white;">
                                <p>ทำหนังสือ</p>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div style="margin-left: 50.2%;">
                            <button type="button" class="bt2"
                                style="background-color: #707070;">
                                <p>ลงทะเบียน</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="card" style="border-radius: 1.2vw;">
                        <br>
                        <div class="card-body">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-4">
                                        
                                    </div>
                                    <div class="col-4">
                                        
                                        <img class="logo" src="assets/img/ptt.png" alt="logo" style="width: 3vw;margin-left: 5vw;">

                                    </div>
                                    <div class="col-4">

                                    </div>  
                                </div>
                                <br>

                                <div class="col-12">
                                    <div class="col-4">
                                        <div style="margin-left: 50%;">
                                            <div>
                                                ที่
                                            </div>
                                            <div>
                                                เรื่อง    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        
                                    </div>  
                                    <div class="co-4">
                                        <div class="row">
                                            <div style="color: red;font-size: 1.5vw;font-weight: bold;margin-left: 45%;margin-top: 15%;">
                                                REQ #2
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                              
                                <div class="col-12">
                                    <div class="row">
                                        <div style="margin-left: 56%;">
                                            <button type="button" class="bt"
                                                style=" background-color: #C55B11;box-shadow: 1px 1px 1px 1px rgba(36, 35, 35, 0.4); width: 7vw;height: 2.2vw;top: 2.5vw;">พิมพ์หนังสือ</button>
                                        </div>
                                     </div>
                                     <div class="row">
                                        <div style="margin-left: 72%;">
                                            <button type="button" class="bt"
                                                style=" background-color: coral;box-shadow: 1px 1px 1px 1px rgba(36, 35, 35, 0.4); width: 7vw;height: 2.2vw;top: 2.5vw;">บันทึกข้อมูล</button>
                                        </div>
                                     </div>
                                        <div class="row">
                                         <div style="margin-left: 88%;">
                                            <button type="button" class="bt" style="background-color: #686766;box-shadow: 1px 1px 1px 1px rgba(36, 35, 35, 0.4);width: 7vw;height: 2.2vw;top: 2.5vw;">ยกเลิก</button> </div>
                                        </div>
                                        
                                     </div>  
                                 </div>
                                 <br>
                                 <br>
                                 <br>
                            </div>
                        </div>
                    </div>
                </div>
            
                