@font-face {
    font-family: "K2D";
    src: local("K2D"), url(../../../../assets/Font/K2D-Bold.ttf) format("truetype");
}

body {
    margin: 0;
    color: #edf3ff;
    background: #b12828;
    background-size: auto;
}

.card-data {
    position: relative;
    width: 12%;
    height: 30%;
    background-color: white;
    left: 20%;
    margin-top: 12%;
    border: solid;
    border-width: 0.1px;
    border-radius: 30px;
    margin-left: 2%;
}

img {
    margin-left: 30%;
    margin-top: 25%;
}

.text {
    color: #707070;
    font-size: 0.7vw;
    text-align: center;
    font-family: "K2D";
    margin: 7%;
}

.bg {
    background-color: #1C3FAA;
    /* background-color: #fff; */

    background-size: auto;
    position: absolute;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.bell{
    width: 30px;
    height: 30px;
    font-size: 2vw;
    color: #474646;
    position: absolute;
    top: 3%;
    left: 96.5%;
  }

.menu-box {
    background-color:#F1F5F8;
    background-size: auto;
    position: absolute;
    border-radius: 25px;
    top: 2.5%;
    left: 7.5%;
    /* Preserve aspet ratio */
    min-width: 90%;
    min-height: 95%;
}

.text-header-menu {
    position: absolute;
    font-size: 1.5vw;
    top: 5%;
    left: 15%;
    color: #707070;
    font-family: "K2D"

}

.line-header-menu {
    position: absolute;
    background-color: #948F8F;
    top: 10%;
    left: 15%;
    min-width: 84.5%;
    min-height: 0.1%;
}

.search-document-number {
    position: absolute;
    border-radius: 25px;
    background-color: white;
    top: 2.5%;
    left: 80%;
    min-width: 15%;
    min-height: 4%;
    border-style: solid;
    border-width: 0.1px;
}

.text-search-document-number{
    position: absolute;
    color: #707070;
    font-size: 1vw;
    top: 10%;
    left: 5%;
    font-family: "K2D"
} 

.search-document-number-day {
    position: absolute;
    border-radius: 10px;
    background-color: white;
    top: 15%;
    left: 20%;
    min-width: 10%;
    min-height: 3%;
    border-style: solid;
    border-color: #C55B11;
    border-width: 0.1px;
}

.text-search-document-number-day {
    position: absolute;
    color: #707070;
    font-size: 0.9vw;
    top: 5%;
    left: 15%;
    width: 80%;
    height: 80%;
    font-family: "K2D"
}

.search-day-data {
    position: absolute;
    border-radius: 10px;
    background-color: white;
    top: 18%;
    left: 20%;
    min-width: 30%;
    min-height: 25%;
    border-style: solid;
    border-color: #C55B11;
    border-width: 0.1px;
    font-family: "K2D";
}

.search-day-data-left {
    position: absolute;
    top: 10%;
    left: 10%;
}

.search-day-data-right {
    position: absolute;
    top: 10%;
    left: 50%;
}

.arrow-down {
    position: absolute;
    border-radius: 20px;
    top: 35%;
    left: 85%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #707070;
  }

  .search-day-data-button {
    position: absolute;
    border-radius: 20px;
    background-color: #C55B11;
    color: white;
    font-size: 0.8vw;
    left: 70%;
    top: 75%;
    min-width: 20%;
    min-height: 15%;
    font-family: "K2D";
  }
